<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :person_name %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :person_number %>
  </div>

  <div class="field">
    <%= form.label :roll_no %>
    <%= form.text_field :roll_no, id: :person_roll_no %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
