<p id="notice"><%= notice %></p>

<h1>Logs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Person</th>
      <th>Equipment</th>
      <th>Log Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= link_to log.person.name, person_path(log.person) %></td>
        <td><%= log.equipment.name %></td>
        <td><%= log.created_at %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>
