<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @log.person %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @log.equipment %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
