<!DOCTYPE html>
<html>
  <head>
    <title>InventoryLogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
  <%= link_to 'Add new Log |', new_log_path %>
	<%= link_to 'View Logs |', logs_path %>
	<%= link_to 'View Equipment List |', equipment_index_path %>
	<%= link_to 'View Persons List |', people_path %>
  </body>
</html>
